:root {
  --rt-color-white: #fff !important;
  --rt-color-dark: #13191f !important;

  --background: #1b2329;
  --background-side: #0f151a;
  --background-hovered: #1b2329;
  --border: #05477e;
  --surface: #0f151a;
  --button: #f1f2f7;
  --button-hovered: #dfe4f6;
  --text: #ffffff;
  --text-hovered: #bbf7d0;
  --text-selected: #1d4ed8;
  --input: #1b2329;
  --text-title: #9ce1e7;
  --text-placeholder: #59656d;

  --red-highlight: #f87171;
  --green-highlight: #bbf7d0;
  --blue-highlight: #9ce1e7;
}

/* Dark Theme */
.dark {
  --background: #0e1113;
  --background-side: #0e1113;
  --background-hovered: #1a232b;
  --border: #20292f;
  --surface: #161f26;
  --button: #11171b;
  --button-hovered: #0f1316;
  --text: #ffffff;
  --text-hovered: #bbf7d0;
  --text-selected: #22c55e;
  --input: #181b1d;
  --text-placeholder: #415360;
  --text-title: #9ce1e7;

  --red-highlight: #f87171;
  --green-highlight: #bbf7d0;
  --blue-highlight: #9ce1e7;
}
/* Light Theme */
.light {
  --background: #f0f4f8;
  --background-side: #f0f4f8;
  --background-hovered: #e3e9ef;
  --border: #d1d9e6;
  --surface: #ffffff;
  --button: #f1f2f7;
  --button-hovered: #ebeef9;
  --text: #1f2937;
  --text-hovered: #165022;
  --text-selected: #22c55e;
  --input: #e4e9ef;
  --text-placeholder: #ccd2da;
  --text-title: #05477e;

  --red-highlight: #b96262;
  --green-highlight: #82b193;
  --blue-highlight: #2d8087;
}

@tailwind base;
/*HTML elements*/
@tailwind components;
/*complicated classes like card, button, batch,etc*/
@tailwind utilities;
/*outside tailwind features*/
/*tailwind layers*/
html {
  @apply scrollbar;
}
body {
  @apply font-sans;
  /* Applies the custom sans-serif font globally */
}

/* Global Tooltip Styling */
/* src/index.css or src/globals.css */
.my-custom-link {
  color: #bbf7d0;
  font-weight: semibold;
  text-decoration: underline;
}

/* Override Monaco editor's background color */
.monaco-editor .monaco-editor-background {
  background-color: #1b2329 !important;
  /* pink-100 in Tailwind */
}

.monaco-editor .margin {
  background-color: #1b2329 !important;
  /* Line number margin background */
}

.noArrow {
  display: none;
}

/* Custom Toast Styles */
.Toastify__toast {
  background-color: #0f151a; /* Dark background */
  color: white; /* White text */
  font-size: 16px; /* Larger font size */
  border-radius: 10px; /* Rounded corners */
}

.scrollbar {
  scrollbar-width: thin !important;
  scrollbar-color: var(--text-placeholder, #999) var(--background, #f0f0f0) !important;
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-horizontal {
  height: 4px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--border, #ccc) !important;
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-hovered, #666) !important;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: var(--background, #f0f0f0) !important;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*custom css
*{
  font-style: italic;
}
@layer components{
  .card{
    @apply flex /*the same as display: flex;
    color: aqua; /*css code
    background-color: theme("colors.twitter-blue");
  }
}
*/

