:root {
  --rt-color-white: #fff !important;
  --rt-color-dark: #13191f !important;
}

@tailwind base;
/*HTML elements*/
@tailwind components;
/*complicated classes like card, button, batch,etc*/
@tailwind utilities;
/*outside tailwind features*/
/*tailwind layers*/
html {
  @apply scrollbar;
}
body {
  @apply font-sans;
  /* Applies the custom sans-serif font globally */
}

/* Global Tooltip Styling */
/* src/index.css or src/globals.css */
.my-custom-link {
  color: #bbf7d0;
  font-weight: semibold;
  text-decoration: underline;
}

/* Override Monaco editor's background color */
.monaco-editor .monaco-editor-background {
  background-color: #1b2329 !important;
  /* pink-100 in Tailwind */
}

.monaco-editor .margin {
  background-color: #1b2329 !important;
  /* Line number margin background */
}

.noArrow {
  display: none;
}

/* Custom Toast Styles */
.Toastify__toast {
  background-color: #0f151a; /* Dark background */
  color: white; /* White text */
  font-size: 16px; /* Larger font size */
  border-radius: 10px; /* Rounded corners */
}

.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #36424d #1b2329; /* Thumb color and track color */
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
.scrollbar::-webkit-scrollbar {
  width: 4px; /* Scrollbar width */
}

.scrollbar::-webkit-scrollbar-horizontal {
  height: 4px; /* Scrollbar height for horizontal */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #444444; /* Lighter gray thumb */
  border-radius: 4px; /* Slightly rounded corners */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #2e2e2e;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*custom css
*{
  font-style: italic;
}
@layer components{
  .card{
    @apply flex /*the same as display: flex;
    color: aqua; /*css code
    background-color: theme("colors.twitter-blue");
  }
}
*/

